body {
  padding: 0;
  margin: 0;
}
.text-center {
  text-align: center;
}

/* HEADER */
header,
.header-inner {
  height: 44px;
  background-color: #f6f8f9;
}
.header-inner {
  padding: 12px 16px;
}

.menu,
.user-account {
  width: 16px;
  height: 16px;
}

.menu {
  height: 14px;
  position: relative;
  cursor: pointer;
}
.menu > .menu__stripe {
  width: 16px;
  height: 2px;
  background-color: #343638;
  border-radius: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
.menu > .menu__stripe:last-child {
  top: auto;
  bottom: 0;
}
.menu > .menu__stripe:nth-child(2) {
  width: 10px;
  top: 6px;
}

.user-account {
  background: url(./assets/user.png);
  border-radius: 50%;
  background-size: contain;
}

/* NEWS */
.news {
  background: url(./assets/bg-news.png) no-repeat 0;
  background-size: cover;
  font-family: 'Source Sans Pro';
  padding: 40px 24px;
  color: #ffffff;
}
.news__title {
  text-transform: uppercase;
}
.news__title,
.news__cta {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.news__separator {
  margin: 40px 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 2px;
  height: 0;
}
.news__description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.news__button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Helvetica';
  font-weight: bold;
  padding: 14px 38px;
  background-color: #fa6980;
  border-radius: 6px;
}
